{% extends 'base/main_base.html' %}

{% block title %}Sheet - Timesheet Management{% endblock %}

{% block content %}
<div class="container">
  <h1>Welcome to Sheeeet.</h1>

</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  head.js(
    "/static/js/libs/underscore-min.js",
    "/static/js/libs/backbone-min.js",
    "/static/js/libs/backbone.marionette.min.js",
    "/static/js/libs/swig.min.js",
    "/static/js/app.js"
    );
</script>
{# swig templates #}
{% raw %}
{% endraw %}
{% endblock %}
