{% extends 'base/main_base.html' %}

{% block title %}Sheeeet - Timesheet Management{% endblock %}

{% block content %}
<div class="container">
  <div id="contentContainer"></div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  head.js(
    "/static/js/libs/underscore/underscore-min.js",
    "/static/js/libs/backbone/backbone.js",
    "/static/js/libs/marionette/backbone.marionette.min.js",
    "/static/js/libs/civswig/swig.min.js",
    "/socket.io/socket.io.js",
    "/static/js/app.js"
    );
</script>
{# swig templates #}
{% raw %}
<script type="text/swig" id="home_view">
<div>
  <h1>Projects</h1>
  {% if projects.length == 0 %}
  <p>
  Start using Sheeeet by creating a new project to add work to.
  </p>
  {% endif %}
  <p>
    <a class="btn btn-primary" href="#projects/create">Create New Project</a>
  </p>
  {% if projects.length > 0 %}
  <table class="table">
    <tr><th>Project Name</th><th>View</th><th>Actions<th></tr>
    {% for project in projects %}
    <tr>
      <td>{{project.attributes.title}}</td>
      <td><a class="btn btn-primary view" href="#projects/view/{{project.attributes._id}}">View</a></td>
      <td>
        <div class="btn-group">
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" class="edit" data-id="{{project.attributes._id}}">Edit</a></li>
            <li><a href="#" class="archive" data-id="{{project.attributes._id}}">Archive</a></li>
            <li class="divider"></li>
            <li><a href="#" class="delete" data-id="{{project.attributes._id}}">Delete</a></li>
           </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
</script>
<script type="text/swig" id="create_project_view">
<div class="form form-horizontal">
  <h1>Create Project</h1>

  <div class="form-group">
    <label for="textArea" class="col-lg-2 control-label">Title</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="title">
    </div>
  </div>

  <div class="form-group">
    <label for="textArea" class="col-lg-2 control-label">Contact Name</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="contact_name">
    </div>
  </div>

  <div class="form-group">
    <label for="textArea" class="col-lg-2 control-label">Rate</label>
    <div class="col-lg-10">
      <div class="input-group">
        <span class="input-group-addon">$/h</span>
        <input type="number" class="form-control" id="rate">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="textArea" class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
      <textarea class="form-control" id="description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-offset-2">
      <div class="btn btn-primary create">Create</div>
    </div>
  </div>
</div>
</script>
<script type="text/swig" id="project_view">
<div class="form form-horizontal">
  <div class="row">
    <div class="col-md-6">
      <h1>Project {{project.attributes.title}}</h1>
      <div class="well">
        {{project.attributes.description}}
      </div>
      <h3>Work History</h3>
      {% for work_item in work %}
      <div class="work_item well well-sm">
        Duration: {{(work_item.attributes.duration/1000)|formatTime}}
      </div>
      {% endfor %}
    </div>
    <div class="col-md-6">
      <h1>Work Timer</h1>
      <div class="btn btn-success start">Start</div>
      <div class="btn btn-warning hide pause">Take Break</div>
      <div class="btn btn-success hide resume">Resume</div>
      <div class="btn btn-danger hide stop">Stop</div>
      <p id="timer">{{timer_placeholder}}</p>
    </div>
  </div>
</div>
</script>
{% endraw %}
{% endblock %}
